<h1>Make your form here</h1>
<form action='/pirates' method='post'>
  <label>Pirate Name:<input type="text" name="pirate[name]"</label>
  <label>Pirate Weight:<input type="text" name="pirate[weight]"></label>
  <label>Pirate Height:<input type="text" name="pirate[height]"></label>
  <label>Ship Name:<input type="text" name="ships[][name]"></label>
  <label>Ship Type:<input type="text" name="type"></label>
  <label>Ship Booty:<input type="text" name="booty"></label>
  <label>Ship Name:<input type="text" name="name"></label>
  <label>Ship Type:<input type="text" name="type"></label>
  <label>Ship Booty:<input type="text" name="booty"></label>
  <input type="submit" id="submit">
</form>
