<h1>Make your form here</h1>
<form action='/pirates' method='post'>
  <labe>Pirate Name:<input type="text" name="name"</label>
  <labe>Pirate Weight:<input type="text" name="weight"></label>
  <labe>Pirate Height:<input type="text" name="height"></label>
  <labe>Ship Name:<input type="text" name="name"</label>
  <labe></label>
  <labe></label>

</form>
