<h1>Make your form here</h1>
<form action='/pirates' method='post'>
  <label>Pirate Name:<input type="text" name="name"</label>
  <label>Pirate Weight:<input type="text" name="weight"></label>
  <label>Pirate Height:<input type="text" name="height"></label>
  <label>Ship Name:<input type="text" name="name"></label>
  <label>Ship Type:<input type="text" name="type"></label>
  <label>Ship Booty:<input type="text" name="booty"></label>
  <label>Ship Name:<input type="text" name="name"></label>
  <label>Ship Type:<input type="text" name="type"></label>
  <label>Ship Booty:<input type="text" name="booty"></label>
  <input type="submit" id="submit">
</form>
