<h1>Make your form here</h1>
<form action='/pirates' method='post'>
  <labe>Pirate Weight:<input type="text" name="weight"</label>
  <labe></label>
  <labe></label>
  <labe></label>
  <labe></label>
  <labe></label>

</form>
