<h1>Pirate</h1>

<div class="pirate">
  <h3>Name: <%= @student.name %></h3>
  <h4>Weight: <%= @student.weight %></h4>
  <h4>Height: <%= @student.height %></h4>
</div>

<div class="ships">
  <h2>First Ship</h2>

  <div class="ship">
    <h3>Name:
  </div>


  <h2>Second Ship</h2>
</div>
